{% load listings_tag %}

{% load static i18n %}
<div class="site-loader"></div>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="border-bottom bg-white top-bar">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-md-6">
            <p class="mb-0">
              <a href="#" class="mr-3"><span class="text-black fl-bigmug-line-phone351"></span> <span class="d-none d-md-inline-block ml-2">(+34) 677 155 322</span></a>
              <a href="#"><span class="text-black fl-bigmug-line-email64"></span> <span class="d-none d-md-inline-block ml-2">es@torrehome.com</span></a>


            <a href="#"><span class="d-none d-md-inline-block ml-3">
                 {# проверка вошол лили пользователь #}
                {% if not request.user.is_authenticated %}
                    {% trans "Здравствуйте, гость" %}
                {% else %}
                    {% trans "Здравствуйте" %}, {{ request.user}}

                {% endif %}
                {# проверка вошол лили пользователь #}

            </span></a>



            </p>
          </div>
            <div>

            </div>
          <div class="col-6 col-md-6 text-right">
            <a href="#" class="mr-3"><span class="text-black icon-facebook"></span></a>
            <a href="#" class="mr-3"><span class="text-black icon-twitter"></span></a>
            <a href="#" class="mr-0"><span class="text-black icon-linkedin"></span></a>
          </div>
        </div>
      </div>

    </div>