{% load static i18n %}

 <div class="site-section site-section-sm bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">{% trans 'Широкий ассортимент недвижимости' %}</h2>
            <p class="lead text-white-5"></p>
          </div>
          <div class="col-md-4 text-center">
            <a href="/" class="btn btn-outline-primary btn-block py-3 btn-lg">{% trans 'На галвную страницу' %} </a>
          </div>
        </div>
      </div>
    </div>
