{% load static i18n %}
<div class="row mb-5">
    {% for real in reals_list %}
    <div class="col-md-6 col-lg-4 mb-4">
        <a href="{{ real.get_absolute_url }}" class="prop-entry d-block">
            <figure>
                <img src="{{ real.photo_main.url }}" alt="Image" class="img-fluid">
            </figure>

              <div class="prop-text">
                <div class="inner">
                  <span class="price rounded">€{{ real.price }}</span>
                  <h3 class="title">{{ real.title }}</h3>

                </div>
                <div class="prop-more-info">
                  <div class="inner d-flex">
                    <div class="col">
                        <span>{% trans  'Площадь:' %}</span>
                      <strong>{{ real.sqft }}m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                      <span>{% trans  'Спальни:' %}</span>
                      <strong>{{ real.bedrooms }}</strong>
                    </div>
                    <div class="col">
                      <span>{% trans 'Ванны:' %}</span>
                      <strong>{{ real.bathrooms }}</strong>
                    </div>
                    <div class="col">
                      <span>{% trans 'Гаражи:' %}</span>
                      <strong>{{ real.garage }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </a>

          </div>
{% endfor %}
</div>
